body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

ul {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.show {
  display: flex;
  margin: 20px;
  padding: 20px;
  background-color: rgb(233, 237, 249);
  border-radius: 5px;
  transition: opacity 2s ease-in-out;
}

.show > img {
  border-radius: 10px;
  width: 40%;
}

.show > div {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.show > div > h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.show > div > p {
  font-size: 18px;
}

.show > div > button {
  width: 100px;
  display: inline-block;
  padding: 10px 0;
  margin: 5px 0;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
}

.show > div > button:hover {
  background-color: #3551a5;
}

.show > div > button:disabled {
  background-color: #ccc;
}

.hidden {
  opacity: 0;
}
